*{
    background-color: lightblue;
}
.container{
    width: 100%;
    height: 100vh;
}
li{
  width: 12%;
  height: 10%;  
  background-color: rgb(50, 72, 244);
  padding: 25px;
}
li img{
    width: 90%;
    height: 90%;
    background: linear-gradient(49deg, rgba(2,0,36,1) 0%, rgba(62,7,104,1) 28%, rgba(9,117,121,0.835171568627451) 54%, rgba(0,212,255,1) 100%);
    border-radius: 60% 120% 20% 20%;
    transition: 1s linear;
}
li:hover img{
    border-radius: 120% 70% 50% 90%;
    transform: rotate(7deg);
}
.pokeName{
    color: lemonchiffon;
    text-transform: capitalize;
    font-size: 30px;
    font-family: sans-serif;
}